@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    color: black;
    font-family: 'Montserrat', sans-serif;
    height: 70px;
    width: 100%;
}

.logo img{
    margin-left:45px;
    height: 40px;
    margin-top: 10px;
}

nav ul{
    float: right;
}

 nav ul li{
     list-style-type: none;
     display: inline-block;
} 
 
nav ul li a{
    text-decoration: none;
    color: black;
    padding: 0px 12px;
   font-weight: 500;
}

.btn-click{
    border: 2px solid rgb(102, 181, 212);
    background-color: #fff;
    color: rgb(16, 245, 226);
    border-radius: 5px;
    height: 38px;
    width: 130px;
      font-family: 'Montserrat', sans-serif;
      cursor: pointer;
     margin-top:14px;
     margin-right: 10px;
}

.btn-click:hover{
    box-shadow: 2px 2px  15px rgb(102, 181, 212);
    font-weight: 600;
}

/* first */

.first{
    display:flex;
    justify-content: space-between;
    width:92%;
    margin: auto;
}

.right{
    width:55%;
}

.first h1{
    line-height:67px;
    margin-top: 50px;
    font-size:65px;
    font-family: 'Montserrat', sans-serif;
}

.first p{
    margin-top: 10px;
    color: rgb(107, 93, 93);
    font-size: 14px;
}

.left{
    left: 40%;
}

.left img{
    width: 100%;
}

.btn{
    border: 2px solid transparent;
    background-color: rgb(9, 207, 221);
    color:white;
    border-radius: 5px;
    height: 38px;
    width: 130px;
     align-items: center;
      display: flex;
     justify-content: center;
      text-align: center;  
      font-family: 'Montserrat', sans-serif;
      margin-top: 20px;
      font-weight: 600;
      cursor: pointer;
}

/* SECOND */
.second{
    margin-top: 70px;
    display: flex;
    width: 92%;
    margin: auto;
    flex-wrap: wrap;
}

.right2{
    width: 40%;
}
.right2 img{
    width: 100%;
}


.left2 h1{
    font-family: 'Montserrat', sans-serif;
    font-size:55px;
    margin-left: 20px;
    margin-top: 50px;
    line-height:57px;
}

.left2 p{
    margin-left: 20px;
    color: rgb(107, 93, 93);
    margin-top: 17px;
    font-size: 14px;
}

.btn2{
    border: 2px solid transparent;
    background-color: rgb(9, 207, 221);
    color:white;
    border-radius: 5px;
    height: 38px;
    width: 130px;
     align-items: center;
      display: flex;
     justify-content: center;
      text-align: center;  
      font-family: 'Montserrat', sans-serif;
      margin-top: 20px;
      margin-left: 20px;
      font-weight: 600;
      cursor: pointer;
}
/*  THIRD */

.third{
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin: auto;
}

.left3{
    width: 60%;
}
.left3 h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin-left: 31px;
    margin-top: 50px;
    line-height:60px;
}

.left3 p{
    margin-left: 31px;
    color: rgb(107, 93, 93);
    margin-top: 10px;
    font-size: 14px;
}

.btn3{
    border: 2px solid transparent;
    background-color: rgb(9, 207, 221);
    color:white;
    border-radius: 5px;
    height: 38px;
    width: 130px;
     align-items: center;
      display: flex;
     justify-content: center;
      text-align: center;  
      font-family: 'Montserrat', sans-serif;
      margin-top: 20px;
      margin-left: 31px;
      font-weight: 600;
      cursor: pointer;
}

.right3{
    width: 40%;
}
.right3 img{
    width: 100%;
}

/* fouth */

.fouth{
    margin-top: 50px;
    display: flex;
    justify-content:space-around;
    width: 93%;
    margin: auto;
}

.fouth h1{
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin-top: 50px;
    line-height:52px; 
}

.fouth p{
    color: rgb(107, 93, 93);
    margin-top: 65px;
}

/*  fifth */

.fifth{
    width: 93%;
    margin: auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    flex-basis:30%;
    padding: 15px;
    margin-top: 50px;
}

.card:hover{
    box-shadow: 2px 2px  15px rgb(63, 61, 61);
}

.card img{
    display: flex;
    justify-items: center;
    align-items: center;
    height: 50px;
}

.card h1{
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}

.card p{
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}


/* SIXTH */

.sixth{
    width: 100%;
     margin-top: 70px;
     background-color: rgb(20, 104, 231);
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
}

.sixth>h1{
    color: #fff;
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
   margin-top: 20px;


}

.mini{
    width: 80%;
    height:600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cd{
 background-color: #fff;
 border-radius: 12px;
width:30%;
height: 550px;
}

.cd2{
    position: relative;
}

.sm-1{
    width: 100%;
    background-color: rgb(7, 7, 7);
    border-radius: 5px;
    color: white;
    position: relative;
    top: -26px;
 
   
}


.abc{
    height: 100px;
}

.sm{
    margin-top: 25px; 
     margin-left: 10px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.aaa{
    height: 250px;
}

.bbb{
    margin-top: 20px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.bbb span{
    margin: 0 10px;
}




.fa-regular{
    color: green;
}

.flex{
    display: flex;
    flex-direction: column;
     align-items: center; 
    justify-content: center;
    line-height: 30px; 
    font-family: 'Roboto', sans-serif;
}


.ddd{
    color:rgb(90, 90, 90);
}

.flex p{
    color:rgb(90, 90, 90);
    font-size: 13px;
}

.cd-down button{
    height: 40px;
    width: 150px;
    border: 1px solid aqua;
    border-radius: 5px;
    color: rgb(53, 250, 250);
    background-color: #fff;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
}

.cd-down button:hover{
    box-shadow: 2px 2px  15px aqua;
}

/* seventh */

.seventh{
    width: 100%;
}

.hp{
    text-align: center;
    margin: 40px 0px;
}

.hp h1{
    font-family: 'Roboto', sans-serif;
    font-size:35px;
}

.hp p{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: rgb(46, 44, 44);
}


.personal-detail{
    display: flex;
    margin: auto;
     width: 92%; 
     height:70vh;
     justify-content: center;
     align-items: center;
    flex-wrap:wrap; 
    gap: 20px;
}

.user-card{
    background-color: rgb(245, 238, 238);
    border-radius: 8px;
   width:35%;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

.bio{
    display: flex;
    margin-top: 18px;
    
}


.cricle{
    background-color: #b7b7b7;
    height: 80px;
    width: 80px;
    border-radius: 50px; 
}

.feedback{
    font-size: 14px;
}


.personal{
    margin-top: 10px;
    margin-left: 13px;
    line-height: 25px;
}


/* eight */

.eight{
    background: linear-gradient(#538FFB ,#5B54FA);
    margin-top: 60px;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.banner{
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
}

.banner h1{
    font-size: 40px;
    
}

.banner p{
    margin-top: 10px;
    font-size: 13px;
    }

    .b-btn{
        height: 40px;
        width: 120px;
        border: 2px solid rgb(34, 169, 173);
        border-radius: 8px;
        background-color:transparent;
        color: white;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;

    }

    .b-btn:hover{
        box-shadow: 2px 2px  15px rgb(34, 169, 173);
        font-weight: 500;
        padding: 5px;
    }

    /* Nine */

    .nine{
        height:220px;
    }
    
    footer{
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
        width: 100%;
        flex-wrap: wrap;
    }

    .f-1{
         line-height: 35px; 
    }

    .f-1 img{
         height: 35px;
    }

    .f-1 p{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        margin-top:0px;
    }

    .f-2{
        line-height:35px ;
    }
    .f-2 h1{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 19px;

    }

    .f-2 h5{
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: rgb(66, 65, 65);
    }

    .f-3{
        line-height:35px ;
    }
    .f-3 h1{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 19px;

    }

    .f-3 h5{
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: rgb(66, 65, 65);
    }

    .f-4{
        line-height:35px ;
    }
    .f-4 h1{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 19px;

    }

    .f-4 h5{
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: rgb(66, 65, 65);
    }


  .f-5{
    line-height: 35px;
  }

   .f-5 h1{
    font-family: 'Montserrat', sans-serif;
    font-size:17px;
   }

   .f-5 img{
    height: 35px;
   } 
 

   #checkbtn{
    font-size: 30px;
    color: rgb(24, 22, 22);
    position: absolute;
    right:30px;
    top:10px;
    display: none;
}

#check{
    display: none;
}

#check:checked ~ ul{
    left: 0;
    
}

/* media query */

@media (max-width:480px){
    .logo img{
        margin-left:30px;
        height:32px;
        margin-top:15px;
    }

   #checkbtn{
    display: block;
}

nav ul{
    background-color:rgb(49, 46, 46) ;
    width: 100%;
    height:90vh;
    position: absolute;
    top: 60px;
    left: -100%;
    transition: .5s;
}

 nav ul li{
     display: block;
     text-align: center;
     line-height:40px;
     margin-top:10px;
} 

nav ul li a {
    color: white;
}
 

span{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-click{
    border: 2px solid rgb(18, 19, 19);
    color: rgb(20, 24, 23);
    width: 120px;
     margin-top:10px;
     margin-right: 0px;
}

/* FIRST */

.first{
    flex-direction: column-reverse;
}

.right{
    width:100%;
}
.first h1{
    line-height:40px;
    margin-top:15px;
    font-size:35px;
}

.first p{
    font-size:12px;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img{
    width: 95%;
}

.btn{
    color:rgb(3, 3, 3);
    border-radius:2px;
    height:35px;
    width:125px;
      margin-top:13px;
      font-weight:600;
}


/* SECOND */

.second{
    flex-direction: column;
}

.right2{
    width: 100%;
}
.right2 img{
    width:95%;
}

.left2{
    width: 100%;
}

.left2 h1{
    font-size:33px;
    margin-left:0px;
    margin-top:10px;
    line-height:40px;
}

.left2 p{
    margin-left: 0px;
    color: rgb(107, 93, 93);
    margin-top: 10px;
    font-size: 12px;
}

.btn2{
    background-color: rgb(9, 207, 221);
    color:black;
    border-radius:2px;
    height: 33px;
    width: 125px;
    margin-top:15px;
    margin-left: 0px;
}

/*  THIRD */

.third{
    margin-top: 15px;
    flex-direction: column-reverse;
}

.left3{
    width:100%;
}

.left3 h1{
    font-size:33px;
    margin-left:0px;
    margin-top: 10px;
    line-height:40px;
}

.left3 p{
    margin-left:0px;
    margin-top: 10px;
    font-size:12px;
}

.btn3{
    color:black;
    border-radius: 2px;
    height: 33px;
    width: 125px;
    margin-top:15px;
    margin-left: 0px;   
}

.right3{
    width: 100%;
}
.right3 img{
    width:95%;
}

/*  4th*/
.fouth{
    flex-direction: column;
}

.fouth h1{
    width: 100%;
    font-size:33px;
    margin-top:20px;
    line-height:42px; 
}

.fouth p{
    width: 100%;
    color: rgb(107, 93, 93);
    margin-top:10px;
}

/*  fifth */

.fifth{
    flex-direction: column;
}

.card{
    width:80%;
    margin-top:30px;
    background-color: rgb(230, 221, 221);
}

.card img{
    height:40px;
}

/* sixth */

.sixth>h1{
    font-size:39px;
}

.mini{
    width: 80%;
    height: 1700px;
    margin: auto;
    margin-top: 20px;
    flex-direction: column;
}

.cd{
width:80%;
}

.cd-down button{
    border: 1px solid rgb(67, 75, 75);
    border-radius: 5px;
    color: black;
    background-color: rgb(241, 238, 238);
}



/* seventh */

.seventh{
    width: 100%;
   
}

.hp{
    text-align: center;
    margin: 40px  0px 0px 0px;
}

.hp h1{
    font-family: 'Roboto', sans-serif;
    font-size:35px;
}

.hp p{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: rgb(46, 44, 44);
}


.personal-detail{
     height: 1000px;
    flex-direction: column;
    flex-wrap:nowrap;
}
.user-card{
    background-color: rgb(235, 222, 222);
   width:80%;
}


.cricle{
    height:70px;
    width: 70px;
}


/* eight */

.eight{
    background: linear-gradient(#538FFB ,#5B54FA);
    margin-top: 0px;
    height: 225px;
    flex-direction: column;
}

.banner{
    color: white;
    width: 95%;
    margin-top: -18px;
}

.banner h1{
    font-size:25px;
    
}

.banner p{
    margin-top: 10px;
    font-size: 12px;
    }

    .banner-button{
        margin-top: -70px;
        width: 100%;
    }

    .b-btn{
        height:36px;
        width: 110px;
        border-radius:5px;
        margin-left: 10px;
    }

/* NINE */

.nine{
    height:0px;
}

footer{
    display: flex;
    justify-content: space-around;
    margin-top:20px;
    width: 100%;
    flex-wrap: nowrap;
}

.f-1{
     line-height: 35px; 
}

.f-1 img{
height:25px;
margin-left:2px;
}

.f-1 p{
    font-family: 'Montserrat', sans-serif;
    font-size:8px;
    margin-top:0px;
    line-height: 10px;
    margin-left:2px;
}

.f-2{
    line-height:20px ;
}
.f-2 h1{
    font-weight:600;
    font-size: 14px;
}

.f-2 h5{
    font-family: 'Montserrat', sans-serif;
    font-size:10px;
    color: rgb(66, 65, 65);
}

.f-3{
    line-height:20px;
}

.f-3 h1{
    font-weight: 600;
    font-size: 14px;
}

.f-3 h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: rgb(66, 65, 65);
}

.f-4{
    line-height:35px ;
    display: none;
}
.f-4 h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

.f-4 h5{
    font-family: 'Montserrat', sans-serif;
    font-size:10px;
    color: rgb(66, 65, 65);
}


.f-5{
line-height: 35px;

}

.f-5 h1{
font-family: 'Montserrat', sans-serif;
font-size:13px;
}

.f-5 img{
height:18px;
} 

}

@media (min-width:481px) and (max-width:768px){
    .logo img{
        margin-left:30px;
        height:35px;
        margin-top:15px;
    }

   #checkbtn{
    display: block;
    font-size:35px;
}

nav ul{
    background-color:rgb(49, 46, 46) ;
    width: 100%;
    height:90vh;
    position: absolute;
    top: 60px;
    left: -100%;
    transition: .5s;
}

 nav ul li{
     display: block;
     text-align: center;
     line-height:40px;
     margin-top:10px;
} 

nav ul li a {
    color: white;
}
 

span{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-click{
    border: 2px solid rgb(18, 19, 19);
    color: rgb(20, 24, 23);
    width: 120px;
     margin-top:10px;
     margin-right: 0px;
}

/* hero 1 */

.first{
    flex-direction: column-reverse;
}

.right{
    width:100%;
}

.first h1{
    line-height:42px;
    margin-top:15px;
    font-size:42px;
}

.first p{
    font-size:14px;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left img{
    width: 95%;
}

.btn{
    color:rgb(3, 3, 3);
    border-radius:2px;
    height:35px;
    width:125px;
      margin-top:13px;
      font-weight:600;
}

/* second */

.second{
    flex-direction: column;
}

.right2{
    width: 100%;
}
.right2 img{
    width:95%;
}

.left2{
    width: 100%;
}

.left2 h1{
    font-size:42px;
    margin-left:0px;
    margin-top:10px;
    line-height:40px;
}

.left2 p{
    margin-left: 0px;
    color: rgb(107, 93, 93);
    margin-top: 10px;
    font-size: 14px;
}

.btn2{
    background-color: rgb(9, 207, 221);
    color:black;
    border-radius:2px;
    height: 33px;
    width: 125px;
    margin-top:15px;
    margin-left: 0px;
}

/*  THIRD */

.third{
    margin-top: 15px;
    flex-direction: column-reverse;
}

.left3{
    width:100%;
}
.left3 h1{
    font-size:42px;
    margin-left:0px;
    margin-top: 10px;
    line-height:40px;
}

.left3 p{
    margin-left:0px;
    margin-top: 10px;
    font-size:14px;
}

.btn3{
    color:black;
    border-radius: 2px;
    height: 33px;
    width: 125px;
    margin-top:15px;
    margin-left: 0px;   
}

.right3{
    width: 100%;
}
.right3 img{
    width:95%;
}

/*  4th*/
.fouth{
    flex-direction: column;
}

.fouth h1{
    width: 100%;
    font-size:42px;
    margin-top:20px;
    line-height:42px; 
}

.fouth p{
    width: 100%;
    color: rgb(107, 93, 93);
    margin-top:10px;
    font-size: 14px;
}

/*  fifth */

.fifth{
    flex-direction: column;
}

.card{
    width:70%;
    margin-top:30px;
    background-color: rgb(230, 221, 221);
}

.card img{
    height:60px;
}

/* sixth */

.sixth>h1{
    font-size:39px;
}

.mini{
    width:65%;
    height: 1700px;
    margin: auto;
    margin-top: 20px;
    flex-direction: column;
}

.cd{
width:80%;
}

.cd-down button{
    border: 1px solid rgb(67, 75, 75);
    border-radius: 5px;
    color: black;
    background-color: rgb(241, 238, 238);
}

/* severth */
.seventh{
    width: 100%; 
}

.hp{
    text-align: center;
    margin:35px  0px 0px 0px;
}

.hp h1{
    font-family: 'Roboto', sans-serif;
    font-size:35px;
}

.hp p{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: rgb(46, 44, 44);
}


.personal-detail{
     height:1000px;
    flex-direction: column;
    flex-wrap:nowrap;
}

.user-card{
    background-color: rgb(235, 222, 222);
   width:70%;
}


.cricle{
    height:75px;
    width: 75px;
}

/* eight */

.eight{
    background: linear-gradient(#538FFB ,#5B54FA);
    margin-top: 0px;
    height: 225px;
    flex-direction: column;
}

.banner{
    color: white;
    width: 95%;
    margin-top: -18px;
}

.banner h1{
    font-size:40px;
    
}

.banner p{
    margin-top: 10px;
    font-size: 14px;
    }

    .banner-button{
        margin-top: -50px;
        width: 100%;
    }

    .b-btn{
        height:36px;
        width: 110px;
        border-radius:5px;
        margin-left: 15px;
    }

    /* NINE */

.nine{
    height:0px;
}

footer{
    display: flex;
    justify-content: space-around;
    margin-top:20px;
    width: 100%;
    flex-wrap: nowrap;
}

.f-1{
     line-height: 35px; 
}

.f-1 img{
height:25px;
margin-left:2px;
}

.f-1 p{
    font-family: 'Montserrat', sans-serif;
    font-size:8px;
    margin-top:0px;
    line-height: 10px;
    margin-left:2px;
}

.f-2{
    line-height:20px ;
}
.f-2 h1{
    font-weight:600;
    font-size: 14px;
}

.f-2 h5{
    font-family: 'Montserrat', sans-serif;
    font-size:10px;
    color: rgb(66, 65, 65);
}

.f-3{
    line-height:20px ;
}

.f-3 h1{
    font-weight: 600;
    font-size: 14px;
}

.f-3 h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: rgb(66, 65, 65);
}

.f-4{
    line-height:35px ;
    display: none;
}
.f-4 h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

.f-4 h5{
    font-family: 'Montserrat', sans-serif;
    font-size:10px;
    color: rgb(66, 65, 65);
}


.f-5{
line-height: 35px;

}

.f-5 h1{
font-family: 'Montserrat', sans-serif;
font-size:13px;
}

.f-5 img{
height:18px;
} 
}


/* laptop media query */
@media (min-width:769px) and (max-width:992px){

.logo img{
    margin-left:15px;
    height: 33px;
    margin-top: 15px;
}

 
nav ul li a{
    font-size: 14px;
    text-decoration: none;
    color: black;
    padding: 0px 8px;
   font-weight: 500;
}

.btn-click{
    height: 30px;
    width: 105px;
}

/* HERO 1 */


.right{
    width:55%;
    padding-right: 10px;
}
.first h1{
    line-height:30px;
    margin-top: 50px;
    font-size:30px;
}

.first p{
    margin-top: 10px;
    font-size: 12px;
}

.left{
   width:45%;
}
.left img{
    width: 100%;
}

.btn{
    border-radius:2px;
    height:33px;
    width: 120px;
}

/* SECOND */

.second{
    margin-top: 10px;
}

.right2{
    width: 45%;
}
.right2 img{
    width: 100%;
}

.left2{
    width: 55%;
}

.left2 h1{
    font-size:30px;
    margin-left:10px;
    line-height:31px;
}

.left2 p{
    margin-left: 20px;
    margin-top: 12px;
    font-size: 14px;
}

.btn2{
    border-radius:2px;
    height:33px;
    width: 120px;
}

/* Third */

.third{
    margin-top:25px;
}

.left3{
    width:55%;
    padding-right: 15px;
}
.left3 h1{
    font-size:35px;
    margin-left:0px;
    line-height:34px;
}

.left3 p{
    margin-left:0px;
    margin-top: 10px;
    font-size: 14px;
}

.btn3{
    border-radius:2px;
    height:33px;
    width: 120px;
    margin-left: 0px;
}

.right3{
    width: 45%;
}
.right3 img{
    width: 100%;
}

/* fouth */
.fouth{
    margin: auto;
}

.fouth h1{
    width: 50%;
    font-size:32px;
    margin-top: 50px;
    line-height:31px; 
}

.fouth p{
    margin-top: 50px;
    width: 50%;
}


/* SIXTH */

.sixth{
    width: 100%;
     margin-top: 70px;
     background-color: rgb(20, 104, 231);
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
}

.sixth>h1{
    color: #fff;
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
   margin-top: 20px;


}

.mini{
    width:90%;
    height:600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cd{
 background-color: #fff;
 border-radius: 12px;
width:32%;
height:520px;
}

.cd2{
    position: relative;
}

.sm-1{
    width: 100%;
    background-color: rgb(7, 7, 7);
    border-radius: 5px;
    color: white;
    position: relative;
    top: -26px;
}


.abc{
    height: 100px;
}

.sm{
    margin-top: 25px; 
     margin-left:8px;
    line-height:25px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.aaa{
    height: 250px;
}

.bbb{
   
    margin-top: 20px;
    line-height:40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.bbb span{
    margin: 0 10px;
}




.fa-regular{
    color: green;
}

.flex{
    display: flex;
    flex-direction: column;
     align-items: center; 
    justify-content: center;
    line-height: 30px; 
    font-family: 'Roboto', sans-serif;
    margin-top: -10px;
}


.ddd{
    color:rgb(90, 90, 90);
}

.flex p{
    color:rgb(90, 90, 90);
    font-size: 13px;
}

.cd-down button{
    height: 40px;
    width: 150px;
    border: 1px solid aqua;
    border-radius: 5px;
    color: rgb(53, 250, 250);
    background-color: #fff;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
}

.cd-down button:hover{
    box-shadow: 2px 2px  15px aqua;
}


/* seventh */

.seventh{
    width: 100%;
}

.hp{
    text-align: center;
    margin: 40px 0px;
}

.hp h1{
    font-size:32px;
}

.hp p{
    margin-top: 6px;
    font-size: 13px;
}


.personal-detail{
    display: flex;
    margin: auto;
     width: 92%; 
     height:600px;
     justify-content: center;
     align-items: center;
    flex-wrap:wrap; 
    gap: 0px;
}

.user-card{
    background-color: rgb(245, 238, 238);
    border-radius: 8px;
   width:37%;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

.bio{
    display: flex;
    margin-top: 18px;
    
}


.cricle{
    background-color: #b7b7b7;
    height: 80px;
    width: 80px;
    border-radius: 50px; 
}

.feedback{
    font-size: 14px;
}


.personal{
    margin-top: 10px;
    margin-left: 13px;
    line-height: 25px;
}

/* EIGHT */

.eight{
    background: linear-gradient(#538FFB ,#5B54FA);
    margin-top: 60px;
    width: 100%;
    height:180px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.banner{
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
}

.banner h1{
    font-size:32px;
    
}

.banner p{
    margin-top: 10px;
    font-size: 12px;
    }




}


/* desktop media query */

@media (min-width:993px) and (max-width:1330px){

    
    .logo img{
        margin-left:15px;
        height: 33px;
        margin-top: 15px;
    }
    
     
    nav ul li a{
        font-size: 14px;
        text-decoration: none;
        color: black;
        padding: 0px 8px;
       font-weight: 500;
    }
    
    .btn-click{
        height: 30px;
        width: 105px;
    }
    
    /* HERO 1 */
    
    
    .right{
        width:55%;
        padding-right: 10px;
    }

    .first h1{
        line-height:37px;
        margin-top: 50px;
        font-size:35px;
    }
    
    .first p{
        margin-top: 10px;
        font-size: 14px;
    }
    
    .left{
       width:45%;
    }

    .left img{
        width: 100%;
    }
    
    .btn{
        border-radius:2px;
        height:33px;
        width: 120px;
    }
    
    /* SECOND */
    
    .second{
        margin-top: 10px;
    }
    
    .right2{
        width: 45%;
    }

    .right2 img{
        width: 100%;
    }
    
    .left2{
        width: 55%;
    }
    
    .left2 h1{
        font-size:30px;
        margin-left:10px;
        line-height:31px;
    }
    
    .left2 p{
        margin-left: 20px;
        margin-top: 12px;
        font-size: 14px;
    }
    
    .btn2{
        border-radius:2px;
        height:33px;
        width: 120px;
    }
    
    /* Third */
    
    .third{
        margin-top:25px;
    }
    
    .left3{
        width:55%;
        padding-right: 15px;
    }

    .left3 h1{
        font-size:35px;
        margin-left:0px;
        line-height:34px;
    }
    
    .left3 p{
        margin-left:0px;
        margin-top: 10px;
        font-size: 14px;
    }
    
    .btn3{
        border-radius:2px;
        height:33px;
        width: 120px;
        margin-left: 0px;
    }
    
    .right3{
        width: 45%;
    }
    .right3 img{
        width: 100%;
    }
    
    /* fouth */
    .fouth{
        margin: auto;
    }
    
    .fouth h1{
        width: 50%;
        font-size:32px;
        margin-top: 50px;
        line-height:31px; 
    }
    
    .fouth p{
        margin-top: 50px;
        width: 50%;
    }
    
    
    /* SIXTH */
    
    .sixth{
        width: 100%;
         margin-top: 70px;
         background-color: rgb(20, 104, 231);
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
    }
    
    .sixth>h1{
        color: #fff;
        font-size: 38px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
       margin-top: 20px;
    
    
    }
    
    .mini{
        width:90%;
        height:600px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .cd{
     background-color: #fff;
     border-radius: 12px;
    width:32%;
    height:520px;
    }
    
    .cd2{
        position: relative;
    }
    
    .sm-1{
        width: 100%;
        background-color: rgb(7, 7, 7);
        border-radius: 5px;
        color: white;
        position: relative;
        top: -26px;
       
    }
    
    
    .abc{
        height: 100px;
    }
    
    .sm{
        margin-top: 25px; 
         margin-left:8px;
        line-height:25px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }
    
    .aaa{
        height: 250px;
    }
    
    .bbb{
        margin-top: 20px;
        line-height:40px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 13px;
    }
    
    .bbb span{
        margin: 0 10px;
    }
    
    .fa-regular{
        color: green;
    }
    
    .flex{
        display: flex;
        flex-direction: column;
         align-items: center; 
        justify-content: center;
        line-height: 30px; 
        font-family: 'Roboto', sans-serif;
        margin-top: -10px;
    }
    
    
    .ddd{
        color:rgb(90, 90, 90);
    }
    
    .flex p{
        color:rgb(90, 90, 90);
        font-size: 13px;
    }
    
    .cd-down button{
        height: 40px;
        width: 150px;
        border: 1px solid aqua;
        border-radius: 5px;
        color: rgb(53, 250, 250);
        background-color: #fff;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        margin-top: 15px;
    }
    
    .cd-down button:hover{
        box-shadow: 2px 2px  15px aqua;
    }
    
    
    /* seventh */
    
    .seventh{
        width: 100%;
    }
    
    .hp{
        text-align: center;
        margin: 40px 0px;
    }
    
    .hp h1{
        font-size:32px;
    }
    
    .hp p{
        margin-top: 6px;
        font-size: 13px;
    }
    
    
    .personal-detail{
        display: flex;
        margin: auto;
         width: 92%; 
         height:600px;
         justify-content: center;
         align-items: center;
        flex-wrap:wrap; 
        gap: 0px;
    }

    .user-card{
        background-color: rgb(245, 238, 238);
        border-radius: 8px;
       width:37%;
        padding: 15px;
        font-family: 'Roboto', sans-serif;
        margin: 10px;
    }
    
    .bio{
        display: flex;
        margin-top: 18px;
        
    }
    
    
    .cricle{
        background-color: #b7b7b7;
        height: 80px;
        width: 80px;
        border-radius: 50px; 
    }
    
    .feedback{
        font-size: 14px;
    }
    
    
    .personal{
        margin-top: 10px;
        margin-left: 13px;
        line-height: 25px;
    }
    
    /* EIGHT */
    
    .eight{
        background: linear-gradient(#538FFB ,#5B54FA);
        margin-top: 60px;
        width: 100%;
        height:180px;
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
    
    .banner{
        color: white;
        font-family: 'Montserrat', sans-serif;
        width: 50%;
    }
    
    .banner h1{
        font-size:32px;
        
    }
    
    .banner p{
        margin-top: 10px;
        font-size: 12px;
        }
    
    
    
    
    }

