@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
  
    color: black;
    font-family: 'Montserrat', sans-serif;
    /* border: 2px solid black; */
    height: 70px;
    width: 100%;
}

.logo img{
    margin-left:45px;
    height: 40px;
    margin-top: 10px;
}

nav ul{
    float: right;
}

 nav ul li{
     list-style-type: none;
     display: inline-block;
} 
 
nav ul li a{
    text-decoration: none;
    color: black;
    padding: 0px 12px;
   font-weight: 500;
}

.btn-click{
    border: 2px solid rgb(102, 181, 212);
    background-color: #fff;
    color: rgb(16, 245, 226);
    border-radius: 5px;
    height: 38px;
    width: 130px;
      font-family: 'Montserrat', sans-serif;
      cursor: pointer;
     margin-top:14px;
     margin-right: 10px;
}

.btn-click:hover{
    box-shadow: 2px 2px  15px rgb(102, 181, 212);
    font-weight: 600;
}

/* first */

.first{
    /* border: 2px solid red; */
    display:flex;
    justify-content: space-between;
    width:92%;
    margin: auto;
}

.right{
    /* border: 2px solid rgb(81, 28, 167); */
    width:55%;
}
.first h1{
    line-height:67px;
    margin-top: 50px;
    font-size:65px;
    font-family: 'Montserrat', sans-serif;
}

.first p{
    margin-top: 10px;
    color: rgb(107, 93, 93);
    font-size: 14px;
}

.left{
    /* border: 2px solid rgb(4, 70, 4); */
    left: 40%;
}
.left img{
    width: 100%;
}

.btn{
    border: 2px solid transparent;
    background-color: rgb(9, 207, 221);
    color:white;
    border-radius: 5px;
    height: 38px;
    width: 130px;
     align-items: center;
      display: flex;
     justify-content: center;
      text-align: center;  
      font-family: 'Montserrat', sans-serif;
      margin-top: 20px;
      font-weight: 600;
      cursor: pointer;
}

/* SECOND */
.second{
    margin-top: 70px;
    /* border: 2px solid red; */
    display: flex;
    width: 92%;
    margin: auto;
    flex-wrap: wrap;
}

.right2{
    width: 40%;
}
.right2 img{
    width: 100%;
}

.left2{
    /* border: 2px solid yellowgreen; */
}

.left2 h1{
    font-family: 'Montserrat', sans-serif;
    font-size:55px;
    margin-left: 20px;
    margin-top: 50px;
    line-height:57px;
}

.left2 p{
    margin-left: 20px;
    color: rgb(107, 93, 93);
    margin-top: 17px;
    font-size: 14px;
}

.btn2{
    border: 2px solid transparent;
    background-color: rgb(9, 207, 221);
    color:white;
    border-radius: 5px;
    height: 38px;
    width: 130px;
     align-items: center;
      display: flex;
     justify-content: center;
      text-align: center;  
      font-family: 'Montserrat', sans-serif;
      margin-top: 20px;
      margin-left: 20px;
      font-weight: 600;
      cursor: pointer;
}
/*  THIRD */

.third{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin: auto;
}

.left3{
    width: 60%;
}
.left3 h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin-left: 31px;
    margin-top: 50px;
    line-height:60px;
}

.left3 p{
    margin-left: 31px;
    color: rgb(107, 93, 93);
    margin-top: 10px;
    font-size: 14px;
}

.btn3{
    border: 2px solid transparent;
    background-color: rgb(9, 207, 221);
    color:white;
    border-radius: 5px;
    height: 38px;
    width: 130px;
     align-items: center;
      display: flex;
     justify-content: center;
      text-align: center;  
      font-family: 'Montserrat', sans-serif;
      margin-top: 20px;
      margin-left: 31px;
      font-weight: 600;
      cursor: pointer;
}

.right3{
    width: 40%;
}
.right3 img{
    width: 100%;
}

/* fouth */

.fouth{
    margin-top: 50px;
    /* border: 3px solid black;  */
    display: flex;
    justify-content:space-around;
    width: 93%;
    margin: auto;
}

.fouth h1{
    width: 50%;
    /* border: 2px solid red; */
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin-top: 50px;
    line-height:52px; 
}

.fouth p{
    color: rgb(107, 93, 93);
    margin-top: 65px;
}

/*  fifth */

.fifth{
    /* border: 2px solid red; */
    width: 93%;
    margin: auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    /* border: 2px solid black; */
    flex-basis:30%;
    padding: 15px;
    margin-top: 50px;
}

.card:hover{
    box-shadow: 2px 2px  15px rgb(63, 61, 61);
}

.card img{
    display: flex;
    justify-items: center;
    align-items: center;
    height: 50px;
}

.card h1{
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}

.card p{
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}


/* SIXTH */

.sixth{
    width: 100%;
     margin-top: 70px;
     background-color: rgb(20, 104, 231);
     /* border: 3px solid rgb(5, 5, 5); */
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
}

.sixth>h1{
    color: #fff;
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
   margin-top: 20px;


}

.mini{
    /* border: 2px solid purple; */
    width: 80%;
    height:600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cd{
 background-color: #fff;
 border-radius: 12px;
width:30%;
height: 550px;
}

.cd2{
    position: relative;
}

.sm-1{
    width: 100%;
    background-color: rgb(7, 7, 7);
    border-radius: 5px;
    color: white;
    position: relative;
    top: -26px;
 
   
}


.abc{
    height: 100px;
}

.sm{
    margin-top: 25px; 
     margin-left: 10px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.aaa{
    height: 250px;
}

.bbb{
    margin-top: 20px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.bbb span{
    margin: 0 10px;
}




.fa-regular{
    color: green;
}

.flex{
    display: flex;
    flex-direction: column;
     align-items: center; 
    justify-content: center;
    line-height: 30px; 
    font-family: 'Roboto', sans-serif;
}


.ddd{
    /* border: 2px solid red; */
    color:rgb(90, 90, 90);
}

.flex p{
    /* border: 2px solid rgb(206, 175, 175); */
    color:rgb(90, 90, 90);
    font-size: 13px;
}

.cd-down button{
    height: 40px;
    width: 150px;
    border: 1px solid aqua;
    border-radius: 5px;
    color: rgb(53, 250, 250);
    background-color: #fff;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
}

.cd-down button:hover{
    box-shadow: 2px 2px  15px aqua;
}

/* seventh */

.seventh{
    width: 100%;
}

.hp{
    text-align: center;
    margin: 40px 0px;
}

.hp h1{
    font-family: 'Roboto', sans-serif;
    font-size:35px;
}

.hp p{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: rgb(46, 44, 44);
}


.personal-detail{
    display: flex;
    margin: auto;
     width: 92%; 
     height:70vh;
     justify-content: center;
     align-items: center;
    flex-wrap:wrap; 
    gap: 20px;
}
.user-card{
    background-color: rgb(245, 238, 238);
    border-radius: 8px;
   width:35%;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

.bio{
    display: flex;
    margin-top: 18px;
    
}


.cricle{
    background-color: #b7b7b7;
    height: 80px;
    width: 80px;
    border-radius: 50px; 
}

.feedback{
    font-size: 14px;
}


.personal{
    margin-top: 10px;
    margin-left: 13px;
    line-height: 25px;
}


/* eight */

.eight{
    background: linear-gradient(#538FFB ,#5B54FA);
    margin-top: 60px;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.banner{
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
}

.banner h1{
    font-size: 40px;
    
}

.banner p{
    margin-top: 10px;
    font-size: 13px;
    }

    .b-btn{
        height: 40px;
        width: 120px;
        border: 2px solid rgb(34, 169, 173);
        border-radius: 8px;
        background-color:transparent;
        color: white;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;

    }

    .b-btn:hover{
        box-shadow: 2px 2px  15px rgb(34, 169, 173);
        font-weight: 500;
        padding: 5px;
    }

    /* Nine */

    .nine{
        height:250px;
    }
    
    footer{
        display: flex;
        justify-content: space-around;
        margin-top: 60px;
        width: 100%;
        flex-wrap: wrap;

    }
    .f-1{
         line-height: 35px; 
    }

    .f-1 img{
height: 40px;
    }

    .f-1 p{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        margin-top: 20px;
    }

    .f-2{
        line-height:35px ;
    }
    .f-2 h1{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;

    }

    .f-2 h5{
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        color: rgb(66, 65, 65);
    }

    .f-3{
        line-height:35px ;
    }
    .f-3 h1{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;

    }

    .f-3 h5{
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        color: rgb(66, 65, 65);
    }

    .f-4{
        line-height:35px ;
    }
    .f-4 h1{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;

    }

    .f-4 h5{
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        color: rgb(66, 65, 65);
    }


  .f-5{
    line-height: 35px;
  }

   .f-5 h1{
    font-family: 'Montserrat', sans-serif;
   }

   .f-5 img{
    height: 35px;
   } 
 

   #checkbtn{
    font-size: 30px;
    color: rgb(24, 22, 22);
    /* float: right; */
    position: absolute;
    right:30px;
    top:10px;
    /* line-height: 80px; */
    display: none;
    
}

#check{
    display: none;
}

#check:checked ~ ul{
    left: 0;
    
}

/* media query */

@media (max-width:480px){
    .logo img{
        margin-left:30px;
        height:32px;
        margin-top:15px;
    }

   #checkbtn{
    display: block;
}

nav ul{
    /* float: right; */
    background-color:rgb(49, 46, 46) ;
    width: 100%;
    height:90vh;
    position: absolute;
    top: 60px;
    left: -100%;
    transition: .5s;
}

 nav ul li{
     /* list-style-type: none; */
     display: block;
     text-align: center;
     line-height:40px;
     margin-top:10px;
     /* color: white; */
} 

nav ul li a {
    color: white;
}
 

span{
    /* border:2px solid red; */
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-click{
    border: 2px solid rgb(18, 19, 19);
    color: rgb(20, 24, 23);
    width: 120px;
     margin-top:10px;
     margin-right: 0px;
     /* margin-left: 175px; */
     /* text-align: center; */
}

/* FIRST */

.first{
    /* border: 2px solid red; */
    flex-direction: column-reverse;
}

.right{
    /* border: 2px solid rgb(81, 28, 167); */
    width:100%;
}
.first h1{
    line-height:40px;
    margin-top:15px;
    font-size:35px;
}

.first p{
    font-size:12px;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left img{
    width: 95%;
}

.btn{
    color:rgb(3, 3, 3);
    border-radius:2px;
    height:35px;
    width:125px;
      margin-top:13px;
      font-weight:600;
}


/* SECOND */

.second{
    /* margin-top: 70px; */
    /* border: 2px solid red; */
    /* display: flex; */
    /* width: 92%; */
    /* margin: auto; */
    /* flex-wrap: wrap; */
    flex-direction: column;
}

.right2{
    width: 100%;
    /* border: 1px solid black; */
}
.right2 img{
    width:95%;
}

.left2{
    /* border: 2px solid yellowgreen; */
    width: 100%;
}

.left2 h1{
    /* font-family: 'Montserrat', sans-serif; */
    font-size:33px;
    margin-left:0px;
    margin-top:10px;
    line-height:40px;
}

.left2 p{
    margin-left: 0px;
    color: rgb(107, 93, 93);
    margin-top: 10px;
    font-size: 12px;
}

.btn2{
    background-color: rgb(9, 207, 221);
    color:black;
    border-radius:2px;
    height: 33px;
    width: 125px;
    margin-top:15px;
    margin-left: 0px;
}

/*  THIRD */

.third{
    /* border: 2px solid red; */
    margin-top: 15px;
    flex-direction: column-reverse;
}

.left3{
    width:100%;
    /* border: 2px solid black; */
}
.left3 h1{
    font-size:33px;
    margin-left:0px;
    margin-top: 10px;
    line-height:40px;
}

.left3 p{
    margin-left:0px;
    /* color: rgb(107, 93, 93); */
    margin-top: 10px;
    font-size:12px;
}

.btn3{
    color:black;
    border-radius: 2px;
    height: 33px;
    width: 125px;
    margin-top:15px;
    margin-left: 0px;   
}

.right3{
    width: 100%;
}
.right3 img{
    width:95%;
}

/*  4th*/
.fouth{
    flex-direction: column;
}

.fouth h1{
    width: 100%;
    font-size:33px;
    margin-top:20px;
    line-height:42px; 
}

.fouth p{
    width: 100%;
    color: rgb(107, 93, 93);
    margin-top:10px;
}

/*  fifth */

.fifth{
    flex-direction: column;
}

.card{
    width:80%;
    margin-top:30px;
    background-color: rgb(230, 221, 221);
}

.card img{
    height:40px;
}

/* sixth */

.sixth>h1{
    font-size:39px;
}

.mini{
    width: 80%;
    height: 1700px;
    margin: auto;
    margin-top: 20px;
    flex-direction: column;
}

.cd{
width:80%;
}

.cd-down button{
    border: 1px solid rgb(67, 75, 75);
    border-radius: 5px;
    color: black;
    background-color: rgb(241, 238, 238);
}



/* seventh */

.seventh{
    width: 100%;
    /* border: 2px solid red; */
   
}

.hp{
    /* border: 2px solid black; */
    text-align: center;
    margin: 40px  0px 0px 0px;
}

.hp h1{
    font-family: 'Roboto', sans-serif;
    font-size:35px;
}

.hp p{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: rgb(46, 44, 44);
}


.personal-detail{
     height: 1000px;
    flex-direction: column;
    flex-wrap:nowrap;
}
.user-card{
    background-color: rgb(235, 222, 222);
   width:80%;
}


.cricle{
    height:70px;
    width: 70px;
}


/* eight */

.eight{
    background: linear-gradient(#538FFB ,#5B54FA);
    margin-top: 0px;
    /* width: 100%; */
    height: 225px;
    flex-direction: column;
}

.banner{
    color: white;
    width: 95%;
    margin-top: -18px;
}

.banner h1{
    font-size:25px;
    
}

.banner p{
    margin-top: 10px;
    font-size: 12px;
    }

    .banner-button{
        /* border: 2px solid red; */
        margin-top: -70px;
        width: 100%;
    }
    .b-btn{
        height:36px;
        width: 110px;
        border-radius:5px;
        margin-left: 10px;
    }

/* NINE */

.nine{
    height:0px;
    /* border: 2px solid black; */
}

footer{
    display: flex;
    justify-content: space-around;
    margin-top:20px;
    width: 100%;
    flex-wrap: nowrap;
    /* border: 2px solid red; */

}
.f-1{
     line-height: 35px; 
}

.f-1 img{
height:25px;
margin-left:2px;
}

.f-1 p{
    font-family: 'Montserrat', sans-serif;
    font-size:8px;
    margin-top:0px;
    line-height: 10px;
    margin-left:2px;
}

.f-2{
    line-height:20px ;
}
.f-2 h1{
    /* font-family: 'Montserrat', sans-serif; */
    font-weight:600;
    font-size: 14px;

}

.f-2 h5{
    font-family: 'Montserrat', sans-serif;
    font-size:10px;
    color: rgb(66, 65, 65);
}

.f-3{
    line-height:20px ;
}
.f-3 h1{
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 600;
    font-size: 14px;

}

.f-3 h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: rgb(66, 65, 65);
}

.f-4{
    line-height:35px ;
    display: none;
}
.f-4 h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

.f-4 h5{
    font-family: 'Montserrat', sans-serif;
    font-size:10px;
    color: rgb(66, 65, 65);
}


.f-5{
line-height: 35px;

}

.f-5 h1{
font-family: 'Montserrat', sans-serif;
font-size:13px;
}

.f-5 img{
height:18px;
} 

}